<%- include("./partials/header") %>
<br>
<h1>Site-ul va fi pentru a putea face manage-ul unei clase</h1>
<p>Profesorii vor putea sa intre pe site, sa se logheze in contul lor si sa aiba mai multe optiuni. Sa trimita studentilor note, sa trimita assignment-uri</p>
<p>Studentii vor putea intra sa isi vada notele, sa acceseze asignment-urile si sa posteze si ei un raspuns.</p>
<p>Lucruri de implementat: signup-login</p>
<p>Adaugarea in baza de date a profesorilor</p>
<p>Adaugarea in baza de date a studentilor</p>
<p>Tabela profesorilor sa fie separat de tabela studentilor</p>
<p>Profesorilor sa le apara o lista cu studentii lor => Sa se faca o relatie de tip many to many</p>

<%- include("./partials/footer") %>