<%- include("./partials/header") %>
<br>
 <p>
    De rezolvat cu t_class, fiecare prof sa aiba clasele
    De adaugat la studenti clasa, in formular
    De modificat la pagina de profil o data ce exista deja studentul/profesorul sa dea render la alta pagina de edit
    Vreau doar sa intre profesorul sa ii dea un assignment la student si studentul sa il vada, sa poata adauga ceva si proful sa i dea nota.
 </p>
<%- include("./partials/footer") %>