<%- include("./partials/header", {menu: menu}) %>


<section id = "login">
    <div id = "login-box">
        <h1>Logout</h1>
        <form action = "logout" method = "POST">
            <button class = "submit-btn form-btn" type = "submit">Logout</button>
        </form>

<%- include("./partials/footer") %>